.viewPdf_page_img {
  height: 200px;
  width: 300px;
  border: 1px solid gray;
}
.viewPdf_main_section {
  display: flex;
  justify-content: center;
}
.viewPdf_card {
  border: 1px solid #edf9f8;
  padding: 20px;
  background: #edf5f9;
}

.viewButton {
  text-decoration: none !important;
  color: white !important;
}
